@import '~perfect-scrollbar/css/perfect-scrollbar.css';
/**
*   STYLE SEARCH DATA TABLE
*/
.dataTables_filter{
    margin-bottom: 3rem;
    margin-right: 1.5rem;
}
.thead-light th{
    color: var(--default) !important;
    font-size: 0.8rem !important;
    font-weight: 700;
}
.dataTables_filter label{
    display: flex !important;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.5;
    width:100%;
    margin-right: 1.5rem;
}
.dataTables_filter label i{
    margin: auto;
    padding-bottom: 0.8rem;
    margin-right: 0.2rem;
    font-size: 1.5rem;
}
.dataTables_filter label i, .dataTables_filter label span{
    padding-bottom: 0.5rem;
}
.dataTables_filter label input{
   
    margin:auto;
    margin-left: 1rem;
    //background-color: var(--blue);
    margin-right: auto;
    border-radius:1rem;
    border: 2px solid;
    color: var(--dark);
    border-color: var(--primary)
}
/*
* ESTILIZANDO TAMANHO DE IMAGENS
*/
.img-icon {
    width:1.7rem;
    margin-right: 0.3rem;
}
.img-1{
    width:6rem;
}
.img-2{
    width:9rem;
}
.img-3{
    width:12rem;
}
.img-4{
    width:15rem;
}
.img-5{
    width:18rem;
}
.img-full{
    width:100%;
}
.galeria-img{
    padding-left: 30px;
    padding-bottom: 0.1rem;
    
}
.galeria-img img{
    border-radius:0.4rem;
    margin-bottom: 0.6rem;
}

.over-badge{
    position: absolute ;
    border: solid ;
    top: -6px ;
    left: 11px ;
    border-width: 0.3rem ;
   
}
//Temas Gradiente
.bg-gradient-primary
{
    background: linear-gradient(87deg, #5e72e4 0, #825ee4 100%) !important;
    
}

.bg-gradient-secondary
{
    background: linear-gradient(87deg, #f7fafc 0, #f7f8fc 100%) !important;
   
}
.bg-gradient-success
{
    background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%) !important;
}

.bg-gradient-info
{
    background: linear-gradient(87deg, #11cdef 0, #1171ef 100%) !important;
}

.bg-gradient-warning
{
    background: linear-gradient(87deg, #fb6340 0, #fbb140 100%) !important;
}

.bg-gradient-danger
{
    background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
}

.bg-gradient-light
{
    background: linear-gradient(87deg, #adb5bd 0, #adaebd 100%) !important;
}

.bg-gradient-dark
{
    background: linear-gradient(87deg, #212529 0, #212229 100%) !important;
}

.bg-gradient-default
{
    /*background: linear-gradient(87deg, #172b4d 0, #1a174d 100%) !important;*/
    background: linear-gradient(70deg,#172b4d 0,#7864e4 100%) !important;
}

.bg-gradient-white
{
    background: linear-gradient(87deg, #fff 0, white 100%) !important;
}

.bg-gradient-neutral
{
    background: linear-gradient(87deg, #fff 0, white 100%) !important;
}

.bg-gradient-darker
{
    background: linear-gradient(87deg, black 0, black 100%) !important;
}

.bg-gradient-blue
{
    background: linear-gradient(87deg, #5e72e4 0, #825ee4 100%) !important;
}

.bg-gradient-indigo
{
    background: linear-gradient(87deg, #5603ad 0, #9d03ad 100%) !important;
}

.bg-gradient-purple
{
    background: linear-gradient(87deg, #8965e0 0, #bc65e0 100%) !important;
}

.bg-gradient-pink
{
    background: linear-gradient(87deg, #f3a4b5 0, #f3b4a4 100%) !important;
}

.bg-gradient-red
{
    background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
}

.bg-gradient-orange
{
    background: linear-gradient(87deg, #fb6340 0, #fbb140 100%) !important;
}

.bg-gradient-yellow
{
    background: linear-gradient(87deg, #ffd600 0, #beff00 100%) !important;
}

.bg-gradient-green
{
    background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%) !important;
}

.bg-gradient-teal
{
    background: linear-gradient(87deg, #11cdef 0, #1171ef 100%) !important;
}

.bg-gradient-cyan
{
    background: linear-gradient(87deg, #2bffc6 0, #2be0ff 100%) !important;
}

.bg-gradient-white
{
    background: linear-gradient(87deg, #fff 0, white 100%) !important;
}

.bg-gradient-gray
{
    background: linear-gradient(87deg, #8898aa 0, #888aaa 100%) !important;
}

.bg-gradient-gray-dark
{
    background: linear-gradient(87deg, #32325d 0, #44325d 100%) !important;
}

.bg-gradient-light
{
    background: linear-gradient(87deg, #ced4da 0, #cecfda 100%) !important;
}

.bg-gradient-lighter
{
    background: linear-gradient(87deg, #e9ecef 0, #e9eaef 100%) !important;
}

.bg-translucent-primary
{
    background-color: rgba(63, 87, 223, .6) !important;
}

a.bg-translucent-primary:hover,
a.bg-translucent-primary:focus,
button.bg-translucent-primary:hover,
button.bg-translucent-primary:focus
{
    background-color: rgba(42, 68, 219, .6) !important;
}

.bg-translucent-secondary
{
    background-color: rgba(221, 234, 242, .6) !important;
}

a.bg-translucent-secondary:hover,
a.bg-translucent-secondary:focus,
button.bg-translucent-secondary:hover,
button.bg-translucent-secondary:focus
{
    background-color: rgba(202, 222, 235, .6) !important;
}

.bg-translucent-success
{
    background-color: rgba(39, 177, 118, .6) !important;
}

a.bg-translucent-success:hover,
a.bg-translucent-success:focus,
button.bg-translucent-success:hover,
button.bg-translucent-success:focus
{
    background-color: rgba(34, 156, 104, .6) !important;
}

.bg-translucent-info
{
    background-color: rgba(14, 177, 206, .6) !important;
}

a.bg-translucent-info:hover,
a.bg-translucent-info:focus,
button.bg-translucent-info:hover,
button.bg-translucent-info:focus
{
    background-color: rgba(12, 156, 183, .6) !important;
}

.bg-translucent-warning
{
    background-color: rgba(250, 70, 29, .6) !important;
}

a.bg-translucent-warning:hover,
a.bg-translucent-warning:focus,
button.bg-translucent-warning:hover,
button.bg-translucent-warning:focus
{
    background-color: rgba(249, 51, 5, .6) !important;
}

.bg-translucent-danger
{
    background-color: rgba(243, 20, 64, .6) !important;
}

a.bg-translucent-danger:hover,
a.bg-translucent-danger:focus,
button.bg-translucent-danger:hover,
button.bg-translucent-danger:focus
{
    background-color: rgba(227, 11, 54, .6) !important;
}

.bg-translucent-light
{
    background-color: rgba(153, 163, 173, .6) !important;
}

a.bg-translucent-light:hover,
a.bg-translucent-light:focus,
button.bg-translucent-light:hover,
button.bg-translucent-light:focus
{
    background-color: rgba(139, 150, 162, .6) !important;
}

.bg-translucent-dark
{
    background-color: rgba(17, 19, 21, .6) !important;
}

a.bg-translucent-dark:hover,
a.bg-translucent-dark:focus,
button.bg-translucent-dark:hover,
button.bg-translucent-dark:focus
{
    background-color: rgba(6, 6, 7, .6) !important;
}

.bg-translucent-default
{
    background-color: rgba(15, 28, 50, .6) !important;
}

a.bg-translucent-default:hover,
a.bg-translucent-default:focus,
button.bg-translucent-default:hover,
button.bg-translucent-default:focus
{
    background-color: rgba(9, 17, 30, .6) !important;
}

.bg-translucent-white
{
    background-color: rgba(237, 237, 237, .6) !important;
}

a.bg-translucent-white:hover,
a.bg-translucent-white:focus,
button.bg-translucent-white:hover,
button.bg-translucent-white:focus
{
    background-color: rgba(224, 224, 224, .6) !important;
}

.bg-translucent-neutral
{
    background-color: rgba(237, 237, 237, .6) !important;
}

a.bg-translucent-neutral:hover,
a.bg-translucent-neutral:focus,
button.bg-translucent-neutral:hover,
button.bg-translucent-neutral:focus
{
    background-color: rgba(224, 224, 224, .6) !important;
}

.bg-translucent-darker
{
    background-color: rgba(0, 0, 0, .6) !important;
}

a.bg-translucent-darker:hover,
a.bg-translucent-darker:focus,
button.bg-translucent-darker:hover,
button.bg-translucent-darker:focus
{
    background-color: rgba(0, 0, 0, .6) !important;
}
