#image-header {
  background-repeat: initial;
  background-image: url(/images/crisma.png?f4067201a19b9c6d83657ef62cbc12b2);
  background-size: 100%;
  background-position: inherit;
  background-position-y: inherit;
}

.col-md-8 {
  padding-left: 2rem;
}

#dados label {
  font-weight: 700;
  padding-right: 0.2rem;
}

#dados h4 {
  font-weight: 900;
}

#dados .subtitle {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  border-bottom: solid 0.15rem;
  border-color: var(--primary);
}

.col-md-4 img {
  margin: auto;
  padding-top: 5rem;
  padding-left: 3rem;
  width: 90%;
  opacity: 0.7;
}

