

tr:hover{
    
    font-size: large;
    cursor: pointer;
    background-color: var(--primary);
    color:var(--white);
    font-size: 16px !important;
} 
tr:hover .btn-outline-secondary{
    color: #212529;
    border-color: #f7fafc;
    background-color: #f7fafc;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}



 