#image-header {
  background-repeat: initial;
  background-image: url(/images/old-book.jpg?e82c5f004e870d6e46c45b2d123f8c39);
  background-size: 100%;
  background-position: inherit;
  background-position-y: center;
}

