/*.form-register .steps li.done a:active .step-icon {
    background-image: -webkit-linear-gradient( 136deg, var(--blue) 0%, var(--purple) 50%, var(--indigo) 100%);
    background-image: -moz-linear-gradient( 136deg, var(--blue) 0%, var(--purple) 50%, var(--indigo) 100%);
    background-image: -ms-linear-gradient( 136deg, rgb(148,143,216) 0%, rgb(113,103,228) 50%, rgb(69,63,142) 100%);   
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
	-o-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
*/
.dataTables_filter label input{
    width: 100vw;
    background-color: brown !important;
}