#image-header{
    
    background-repeat: initial;
    background-image: url(../img/system/wallpaper/header/old-book.jpg); 
    background-size: 100%;
    background-position: inherit;
    background-position-y: center;
  }