.card-header {
  /*background: linear-gradient(180deg, #5e72e4 0, #825ee4 100%) !important;*/
  background: #6772e5;
}

.table-edit-input {
  width: 15rem !important;
}

#ficha {
  border: solid 1px #6772e5;
}

.btn-primary {
  box-shadow: none !important;
}

.btn-primary:hover {
  color: #6772e5;
  background-color: #fff;
  transform: 1s;
}

