.cars-price{
    background-color: #ff00002e;
}
.motocycles-price{
    background-color: #00fff32e;
}
.precos{
    padding-right: 2px !important;
    
}
td{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    
}