/*------------------------
	icons
-------------------------*/
@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

$icones-ic_delete_forever_48px: unicode(ea05);
$icones-ic_backup_48px: unicode(ea0b);
$icones-eye-19: unicode(ea0c);
$icones-ic_local_see_48px: unicode(ea0d);
$icones-pencil: unicode(ea0e);
$icones-preferences: unicode(ea0f);
$icones-settings-gear-63: unicode(ea10);
$icones-archive-2: unicode(ea11);

.icones-ic_delete_forever_48px::before {
  content: $icones-ic_delete_forever_48px;
}

.icones-ic_backup_48px::before {
  content: $icones-ic_backup_48px;
}

.icones-eye-19::before {
  content: $icones-eye-19;
}

.icones-ic_local_see_48px::before {
  content: $icones-ic_local_see_48px;
}

.icones-pencil::before {
  content: $icones-pencil;
}

.icones-preferences::before {
  content: $icones-preferences;
}

.icones-settings-gear-63::before {
  content: $icones-settings-gear-63;
}

.icones-archive-2::before {
  content: $icones-archive-2;
}

